  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Itim&family=Press+Start+2P&display=swap');


  .inter-uniquifier {
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
    }

    .itim-regular {
      font-family: "Itim", cursive;
      font-weight: 400;
      font-style: normal;
    }
    

    .press-start-2p-regular {
      font-family: "Press Start 2P", system-ui;
      font-weight: 400;
      font-style: normal;
    }
    